@use './fonts.scss';
// 'Bree Serif',

body {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 100vw;
  min-height: 100vh;
}
header {
  height: 123px;
  position: sticky;
  top: 0px;
  .blackRectangle {
    background-color: black;
    position: absolute;
    // z-index: 1;
    width: 100vw;
    height: 50%;
  }
  #logo {
    position: absolute;
    left: 16px;
    top: 2%;
    height: 98%;
    filter: drop-shadow(4px 4px 4px rgba(0,0,0, 0.6));
  }
  #phoneNumber {
    color: white;
    position: absolute;
    right: 30px;
    top: 10px;
    font-family: 'Bree Serif';
    font-size: 36px;
  }
}
